.hero {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 35px;
}

.hero h1 {
  font-size: 40px;
}

.contenedor {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

a {
  text-decoration: none;
  color: white;
}

img {
  border-radius: 100%;
  display: block;
  max-width: 100%;
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.hero-img {
  height: 250px;
  width: 250px;
}

.icon-large{
    font-size: 35px;
}

.icon-large:hover{
    
}

.connect-group{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.connect-group a:hover{
    transform: scale(1.09);
}

.connect-group a{
    transition: 0.3s;
}

.hero-action{
    display: flex;
    flex-direction: column;
}

.span {
  background: linear-gradient(267deg, #66deba 0.36%, #087418 102.06%);
  -webkit-background-clip: text;
  color: transparent;
}


.hero-resume {
  border: 1px solid rgb(255, 255, 255);
  padding: 14px 18px;
  border-radius: 50px;
  cursor: pointer;
  margin-top: 50px;
  transition: 0.3s;
}


